<% if category_investment_for_current_month.present? %>
  <div class="col-lg-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Categorize investments for the current month</h5>
      </div>
      <div class="ibox-content">
        <div class="col-md-6">
          <canvas id="categorize_monthly_investments_chart"></canvas>
          <script type="text/javascript">categorize_monthly_investments_chart(); </script>
        </div>
        <% if category_investment_for_current_month.present? %>
          <div class="col-md-6">
            <ul class="chart-list">
              <% category_investment_for_current_month.each_with_index do |data, index| %>
                <li class="color<%= index < 8 ? index+1 : index-8 %>">
                  <font><%= data['category'] %></font>
                  <span><%= data['percent']%>%</span>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
<% end %>