<div class="about-us-container section-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 about-us section-description wow fadeIn animated">
        <h2>Why Platinum Member For Personal Finance Manager</h2>
        <div class="divider-1 wow fadeInUp animated" ><span></span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 about-us-box wow fadeInUp animated" >
        <p>Unlimited transactions</p>
        <p>Create categories for expenses and income</p>
        <p>Cloud Sync across devices</p>
        <p>Accounts management</p>
        <p>Expense and income management</p>
        <p>Customization and Dashboard Cards</p>
        <p>Expenses and Income Charts</p>
        <p>Charts of Projected Balance</p>
        <p>Charts of Financial Balance</p>
        <p>Detailed Statement</p>
        <p>Set Goals and Budget plans </p>
        <p>Import & Export your data. PDF and Excel  </p>
        <p>Alerts by email </p>
        <p>Custom Customer Service </p>
      </div>
    </div>
  </div>
</div>
