<div class="call-to-action-container section-container section-container-image-bg" style="position: relative; z-index: 0; background: none;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 call-to-action section-description wow fadeInLeftBig animated" style="visibility: visible; animation-name: fadeInLeftBig;">
        <h2>Call to action</h2>
        <div class="divider-1 wow fadeInUp animated" ><span></span></div>
        <p>
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut 
          aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 section-bottom-button wow fadeInUp animated" >
        <a class="btn btn-link-1 scroll-link" href="http://azmind.com/premium/marco/v2-4/layout-10/index.html#top-content">Sign up now</a>
      </div>
    </div>
  </div>
  <div class="backstretch backstretch3">
    <%= image_tag('landing/1.jpg', class: 'bstretch')%>
  </div>
</div>
