<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 footer-social">
        <a href="http://azmind.com/premium/marco/v2-4/layout-10/index.html#"><span class="typcn typcn-social-facebook"></span></a>
        <a href="http://azmind.com/premium/marco/v2-4/layout-10/index.html#"><span class="typcn typcn-social-dribbble"></span></a>
        <a href="http://azmind.com/premium/marco/v2-4/layout-10/index.html#"><span class="typcn typcn-social-twitter"></span></a>
        <a href="http://azmind.com/premium/marco/v2-4/layout-10/index.html#"><span class="typcn typcn-social-google-plus"></span></a>
        <a href="http://azmind.com/premium/marco/v2-4/layout-10/index.html#"><span class="typcn typcn-social-instagram"></span></a>
        <a href="http://azmind.com/premium/marco/v2-4/layout-10/index.html#"><span class="typcn typcn-social-pinterest"></span></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 footer-copyright">
        © Marco Bootstrap Template by <a href="http://azmind.com/">Azmind</a>.
      </div>
    </div>
  </div>
</footer>
