<div class="how-it-works-container section-container section-container-image-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 how-it-works section-description wow fadeIn animated">
        <h2>Ready in 4 steps</h2>
        <div class="divider-1 wow fadeInUp animated" ><span></span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1 how-it-works-box wow fadeInUp animated" >
        <div class="how-it-works-box-icon">
          <span aria-hidden="true" class="typcn typcn-pencil"></span>
          <span aria-hidden="true" class="how-it-works-step">1</span>
        </div>
        <h3>Sign up</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
      </div>
      <div class="col-sm-4 col-sm-offset-2 how-it-works-box wow fadeInDown animated">
        <div class="how-it-works-box-icon">
          <span aria-hidden="true" class="typcn typcn-ticket"></span>
          <span aria-hidden="true" class="how-it-works-step">2</span>
        </div>
        <h3>Make payment</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1 how-it-works-box wow fadeInUp animated" >
        <div class="how-it-works-box-icon">
          <span aria-hidden="true" class="typcn typcn-key-outline"></span>
          <span aria-hidden="true" class="how-it-works-step">3</span>
        </div>
        <h3>Log in</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
      </div>
      <div class="col-sm-4 col-sm-offset-2 how-it-works-box wow fadeInDown animated">
        <div class="how-it-works-box-icon">
          <span aria-hidden="true" class="typcn typcn-thumbs-up"></span>
          <span aria-hidden="true" class="how-it-works-step">4</span>
        </div>
        <h3>Start learning</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 section-bottom-button wow fadeInUp animated" >
        <a class="btn btn-link-1 scroll-link" href="#top-content">Sign up now</a>
      </div>
    </div>
  </div>
  <div class="backstretch backstretch2">
    <%= image_tag('landing/1.jpg', class: 'bstretch') %>
  </div>
</div>