<div class="pricing-container section-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 pricing section-description wow fadeIn animated">
        <h2>Pricing</h2>
        <div class="divider-1 wow fadeInUp animated" ><span></span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 pricing-box wow fadeInUp animated" >
        <div class="pricing-box-inner">
          <div class="pricing-box-price">
            <span>₹ </span><strong>0</strong><span> / month</span>
          </div>
          <h3>Basic</h3>
          <h4>Free Forever</h4>
          <div class="pricing-box-features">
            <ul>
              <li>100 transactions per month</li>
              <li>20 categories</li>
              <li>Limited Chart</li>
              <li>No Calendar View</li>
              <li>750 hours of support</li>
            </ul>
          </div>
          <div class="pricing-box-sign-up">
            <a class="btn btn-link-1 scroll-link" href="#top-content">Sign up</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 pricing-box pricing-box-best wow fadeInDown animated">
        <div class="pricing-box-inner">
          <div class="pricing-box-price">
            <span>₹ </span><strong>100</strong><span> / month</span>
            <div class="pricing-box-icon">
              <span aria-hidden="true" class="typcn typcn-star"></span>
            </div>
          </div>
          <h3>Ultimate</h3>
          <h4>Best value</h4>
          <div class="pricing-box-features">
            <ul>
              <li>500 transactions per month</li>
              <li>100 categories</li>
              <li>Limited Charts</li>
              <li>Calendar View</li>
              <li>1000 hours of support</li>
            </ul>
          </div>
          <div class="pricing-box-sign-up">
            <a class="btn btn-link-1 scroll-link" href="#top-content">Sign up</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 pricing-box wow fadeInUp animated" >
        <div class="pricing-box-inner">
          <div class="pricing-box-price"><span>₹ </span><strong>250</strong><span> / month</span></div>
          <h3>Platinum</h3>
          <h4>Most Popular</h4>
          <div class="pricing-box-features">
            <ul>
              <li>Unlimited transactions</li>
              <li>Unlimited categories</li>
              <li>Charts</li>
              <li>Calendar View</li>
              <li>Unlimited hours of support</li>
            </ul>
          </div>
          <div class="pricing-box-sign-up">
            <a class="btn btn-link-1 scroll-link" href="#top-content">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
