<div class="pricing-container section-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 pricing section-description wow fadeIn animated">
        <h2>Pricing</h2>
        <div class="divider-1 wow fadeInUp animated" ><span></span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 pricing-box wow fadeInUp animated" >
        <div class="pricing-box-inner">
          <div class="pricing-box-price">
            <span>$ </span><strong>12</strong><span> / month</span>
          </div>
          <h3>Basic</h3>
          <h4>Freelancer</h4>
          <div class="pricing-box-features">
            <ul>
              <li>1000 video lessons</li>
              <li>Normal speed</li>
              <li>500 solved exercises</li>
              <li>300MB to save your code</li>
              <li>750 hours of support</li>
            </ul>
          </div>
          <div class="pricing-box-sign-up">
            <a class="btn btn-link-1 scroll-link" href="http://azmind.com/premium/marco/v2-4/layout-10/index.html#top-content">Sign up</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 pricing-box pricing-box-best wow fadeInDown animated">
        <div class="pricing-box-inner">
          <div class="pricing-box-price">
            <span>$ </span><strong>35</strong><span> / month</span>
            <div class="pricing-box-icon">
              <span aria-hidden="true" class="typcn typcn-star"></span>
            </div>
          </div>
          <h3>Ultimate</h3>
          <h4>Best value</h4>
          <div class="pricing-box-features">
            <ul>
              <li>3000 video lessons</li>
              <li>2x speed</li>
              <li>2000 solved exercises</li>
              <li>500MB to save your code</li>
              <li>900 hours of support</li>
            </ul>
          </div>
          <div class="pricing-box-sign-up">
            <a class="btn btn-link-1 scroll-link" href="http://azmind.com/premium/marco/v2-4/layout-10/index.html#top-content">Sign up</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 pricing-box wow fadeInUp animated" >
        <div class="pricing-box-inner">
          <div class="pricing-box-price"><span>$ </span><strong>75</strong><span> / month</span></div>
          <h3>Platinum</h3>
          <h4>Big company</h4>
          <div class="pricing-box-features">
            <ul>
              <li>5000 video lessons</li>
              <li>4x speed</li>
              <li>4000 solved exercises</li>
              <li>900MB to save your code</li>
              <li>Unlimited hours of support</li>
            </ul>
          </div>
          <div class="pricing-box-sign-up">
            <a class="btn btn-link-1 scroll-link" href="http://azmind.com/premium/marco/v2-4/layout-10/index.html#top-content">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
