<div class="testimonials-container section-container section-container-gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 testimonials section-description wow fadeIn animated">
        <h2>Testimonials</h2>
        <div class="divider-1 wow fadeInUp animated" ><span></span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 testimonial-list wow fadeInUp animated" >
        <div role="tabpanel">
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade" id="tab1">
              <div class="testimonial-image">
                <%= image_tag('landing/1(2).jpg', alt: '', style: "width: auto !important; height: auto !important;") %>
                <div class="testimonial-icon">
                  <span aria-hidden="true" class="typcn typcn-pin"></span>
                </div>
              </div>
              <div class="testimonial-text">
                <p>
                  "Very useful personal finance app for keeping a record for your expenses and reminding you at the end of the day to record your daily expenses as well."<br>
                  <a href="javascript:void(0);">Katrina Lore.</a>                  
                </p>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab2">
              <div class="testimonial-image">
                <%= image_tag('landing/2(1).jpg', alt: '', style: "width: auto !important; height: auto !important;") %>
                <div class="testimonial-icon">
                  <span aria-hidden="true" class="typcn typcn-pin"></span>
                </div>
              </div>
              <div class="testimonial-text">
                <p>
                  "I am extremely organized, especially when it comes to finances. This app is perfect for all of my financial recording/planning needs. Best money manager!"<br>
                  <a href="javascript:void(0);">Leonardo Gon</a>
                </p>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab3">
              <div class="testimonial-image">
                <%= image_tag('landing/3(1).jpg', alt: '', style: "width: auto !important; height: auto !important;") %>
                <div class="testimonial-icon">
                  <span aria-hidden="true" class="typcn typcn-pin"></span>
                </div>
              </div>
              <div class="testimonial-text">
                <p>
                  "I have installed and tried using many other budget apps and this one is by far the best. It allows you to create different accounts and view the balance of them.Its also very simple and easy to add expenses and create budgets.Very user friendly. I don't understand how people are even using some of the other apps out there they are so complicated."<br>
                  <a href="javascript:void(0);">Lorem Ipsum, dolor.co.uk</a>
                </p>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade active in" id="tab4">
              <div class="testimonial-image">
                <%= image_tag('landing/4.jpg', alt: '', style: "width: auto !important; height: auto !important;") %>
                <div class="testimonial-icon">
                  <span aria-hidden="true" class="typcn typcn-pin"></span>
                </div>
              </div>
              <div class="testimonial-text">
                <p>
                  "If you like to have all your expenses recorded , this application is for you. I do not have to mention, what kind of analysis you can do with your data. Simply perfect!"<br>
                  <a href="javascript:void(0);">Minim Veniam, nostrud.com</a>
                </p>
              </div>
            </div>
          </div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="">
              <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab" aria-expanded="false"></a>
            </li>
            <li role="presentation" class="">
              <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab" aria-expanded="false"></a>
            </li>
            <li role="presentation" class="">
              <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab" aria-expanded="false"></a>
            </li>
            <li role="presentation" class="active">
              <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab" aria-expanded="true"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
