<div class="inner-bg">
  <div class="container">
    <div class="row">
      <div class="<%= current_user.present? ? 'col-sm-12' : 'col-sm-7' %> text">
        <h1 class="wow fadeInLeftBig animated wow2">          
          <strong> FIND FINANCIAL PEACE OF MIND </strong>
        </h1>
        <div class="description wow fadeInLeftBig animated wow2">
          <p> Expense tracker that works anywhere, anytime. </p>
        </div>
        <div class="top-big-link wow fadeInUp animated wow3">
          <a class="btn btn-link-1 scroll-link" href="#pricing">Our prices</a>
          <a class="btn btn-link-2 scroll-link" href="#features">Know More</a>
        </div>
      </div>
      <% unless current_user.present?  %>
        <div class="col-sm-5 form-box wow fadeInUp animated wow3">
          <div class="form-top">
            <div class="form-top-left">
              <h3>Forgot your password?</h3>
              <p>Fill in the form below to forgot your password:</p>
            </div>
            <div class="form-top-right">
              <span aria-hidden="true" class="typcn typcn-pencil"></span>
            </div>
          </div>
          <div class="form-bottom">
            <%= render partial: '/layouts/flash' %>
            <%= render partial: '/devise/sessions/form' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
