.dataTables_length select{	
  padding-left: 10px !important;
  padding-top: 5px !important;
}
.add-record{
	font-size: 15px;
	margin: 37px 0 0px;
}
.fa.large{
	font-size:15px;
	margin-left: 2px;
	margin-right: 2px;
}