<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-lg-10'>
    <h2>Edit Category</h2>
    <ol class='breadcrumb'>
      <%= render_breadcrumbs tag: :li %>
    </ol>    
  </div>
  <div class='col-lg-2'>
    <p class='add-record'>
      <%= link_to admin_categories_url, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading...".html_safe} do %>
        <i class="fa fa-table"></i> List Categories
      <% end %>
    </p>    
  </div>
</div>
<%= render partial: '/admin/categories/form' %>
