.accounts{
	.ibox.float-e-margins{
		.ibox-content{
			padding: 5px;
			.pad0{
				padding: 0px;
			}
		}
		.btn-inline{
			border-radius: 0px;
  		margin-bottom: 0px;
		}	
	}
	.ibox-title h5.text-center{
		display: block;
		text-align: center;
		float: none;		
	}	
}
.sidebar-container ul.sidebar-list li.pad020{
	padding: 4px 20px !important;
}
.daterangepicker .ranges li{
	border-radius: 2px !important;
}