.form-control.datepicker{
	padding: 10px;
}
a.chosen-single{
  border-radius: 0px !important;
  padding: 4px 4px 4px 10px !important;	
}
.month-dropdown{
	margin-top: -3px;
	padding: 0px;
	padding-right: 10px;
	select{
		padding: 0px;
    margin: 0px;
    height: 25px;		
	}
	input[type='submit']{
		padding: 2px 5px 3px 5px;
	}
}
.chosen-drop .chosen-results {
  max-height: 150px;
}
.transactions{
	.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active{
		border-radius: 2px;
	}	
	.wizard > .steps li.first.current a{
		margin: 0 0.0em 0.5em !important;
	}
	.wizard > .steps li a{
	  cursor: pointer !important;
	}
}