<li class="<%= 'active' if controller.controller_name == 'categories' %>">
  <%= link_to admin_categories_url do %>
    <i class="fa fa-list"></i>
    <span class="nav-label">Category</span>
  <% end %>
</li>