<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-lg-10'>
    <h2>Reports</h2>
    <ol class='breadcrumb'>
      <%= render_breadcrumbs tag: :li %>
    </ol>
  </div>
</div>

<div class='wrapper wrapper-content animated fadeInRight'>
  <div class='row'>
    <%= render partial: '/reports/monthly_income_expense' %>
    <%= render partial: '/reports/monthly_my_balance' %>
  </div>
</div>